<div class="row">
    <div class="col-sm-4 con-lg-4">
        <div class="card mt-4">
            <img
                src="https://thiepmung.com/images/theme/ngam-va-tai-hinh-nen-dep-cho-may-tinh-556444149b46f6.jpg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>

                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/mavDhuj-SJk?si=vAlTMvGSedHeidpF"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                ></iframe>

                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="./chitiet.html" class="btn btn-primary"
                    >Go somewhere</a
                >
            </div>
        </div>
    </div>
</div>
