<div class="row">
    <div class="col-sm-4 con-lg-4">
        <div class="card mt-4">
            <img
                src="https://thiepmung.com/images/theme/ngam-va-tai-hinh-nen-dep-cho-may-tinh-556444149b46f6.jpg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>

                <video
                    src="../assets/clip/PBN 83 - Minh Tuyết - Thương Ca Mùa Hạ.mp4"
                    width="300px"
                    height="200px"
                    type="video/mp4"
                    autoplay="autoplay"
                    controls
                ></video>

                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="/chitiet.html" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
